# LangChain core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini Integration
langchain-google-genai
google-generativeai

# Huggingface Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

numpy
scikit-learn